<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Form</title>
</head>
<body>
<h1>Fill the Form</h1>
<form action="#" th:action="@{/form}" th:object="${userForm}" method="post">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" th:field="*{name}" />
    </div>
    <div>
        <label>
            <input type="checkbox" th:field="*{subscribeNewsletter}" /> Subscribe to Newsletter
        </label>
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>
</body>
</html>