<!-- resourceList.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Lista Zasobów</title>
</head>
<body>
<h1>Lista Zasobów</h1>
<p><a th:href="@{/}">Powrót do strony głównej</a></p>

<table border="1">
  <thead>
  <tr>
    <th>ID</th>
    <th>Nazwa</th>
    <th>Status</th>
    <th>Typ</th>
    <th>Akcje</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="res : ${resources}">
    <td th:text="${res.id}"></td>
    <td th:text="${res.name}"></td>
    <td th:text="${res.status}"></td>
    <td th:text="${res.resourceType}"></td>
    <td>
      <a th:href="@{'/resources/' + ${res.id}}">Szczegóły</a>
      <!-- Przycisk [Przydziel], np. tylko jeśli jest AVAILABLE -->
      <span th:if="${res.status.name() == 'AVAILABLE'}">
                |
                <a th:href="@{'/resources/' + ${res.id} + '/assign'}">[Przydziel]</a>
            </span>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>
