<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Lista Zasobów</title>
</head>
<body>
<h1>Lista Zasobów</h1>
<table border="1">
  <thead>
  <tr>
    <th>ID</th>
    <th>Nazwa</th>
    <th>Ilość</th>
    <th>Status</th>
    <th>Typ Zasobu</th>
    <th>Do Oddania</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="resource : ${resources}">
    <td th:text="${resource.id}">1</td>
    <td th:text="${resource.name}">Nazwa</td>
    <td th:text="${resource.amount}">10</td>
    <td th:text="${resource.status}">AVAILABLE</td>
    <td th:text="${resource.resourceType}">PHYSICAL</td>
    <td th:text="${resource.toGive}">false</td>
  </tr>
  </tbody>
</table>
</body>
</html>
